// To do
    // 1. Center Donald background photo on mobile
        // 

@import url(https://fonts.googleapis.com/css?family=Oswald:700,400);
$heading: 'Oswald', helvetica, sans-serif;

body {
    background:url(../img/thedonald.jpg) no-repeat top left #132861;
    background-size:cover;
}

a {
    text-decoration:none;
}

p {
    margin-bottom:40px;
    line-height:22px;
}

.intro {
	/*width:50%;
    margin:80px auto 0;*/
    width:90%;
    margin:10% auto 0;
    h1, p {
    	text-align:center;
        color:#fff;
    }
    h1 {
    	/*font-size:85px;*/
        font-size:55px;
    	margin:0;
    	font-family:$heading;
    	text-transform:uppercase;
    }
    p {
    	font-size:20px;
    }
}

.block-body {
   /* width:50%;*/
    width:90%;
    margin:0 auto 10%;
    background:rgba(256, 256, 256 ,0.8);
    padding:5% 0 0;
    border-radius:3px;
    overflow:auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

form {
    display:block;
   /* overflow:auto;*/
    padding:0 5%;
    .input-wrap {
        width:100%;
        /*float:left;*/
        display:block;
        margin-bottom:25px;
        /*padding-right:4%;*/
        &#text-type {
            /*width:36%;*/
        }
        input, select {
            width:100%;
            border-radius:3px;
            border:1px solid grey;
            font-size:14px;
            padding:3% 0 3% 3%;
        }
        input {
            width:97%;
        }
        select {
            padding:10px;
            -webkit-appearance:none !important;
        }
    }
    label {
        color:#000;
        display:block;
        margin-bottom:5px;
        font-weight:bold;
        font-size:14px;
    }
    #btn-submit, #reset-btn {
        background:red;
        border-radius:3px;
        padding:10px 15px;
        border:none;
        color:#fff;
        width:100%;
    }
    .failed p.errorMessage {
        display:block;
        color:red;
        font-style:italic;
        font-weight:bold;
        font-size:14px;
    }
    .passed p.errorMessage, .required p.errorMessage {
        display:none;
    }
}

/*form {
    display:block;
    overflow:auto;
    .input-wrap {
        width:26%;
        float:left;
        display:block;
        margin-bottom:25px;
        padding-right:4%;
        &#text-type {
            width:36%;
        }
        select, input {
            width:99%;
        }
        input, select {
            border-radius:3px;
            padding:5% 3%;
            border:1px solid grey;
            font-size:13px;
        }
        select {
            padding:10%;
        }
    }
    label {
    	color:#000;
        display:block;
        margin-bottom:20px;
    }
    #btn-submit {
        background:red;
        border-radius:3px;
        padding:10px 15px;
        border:none;
        color:#fff;
    }
    .failed p.errorMessage {
    	display:block;
        color:red;
        font-style:italic;
	}
	.passed p.errorMessage, .required p.errorMessage {
	    display:none;
	}
}*/

#results {
    background:#fff;
    padding:25px;
    display:block;
    &.hide {
        display:none;
    }
}

footer {
    p {
        text-align:center;
        color:white;
    }
}

.hide {
    display:none;
}

@media (screen and min-width: 700px) {

    form {
       .input-wrap {
            input, select {
                padding:10px;
            }
       } 
    }

}

