/* PLEASE AMERICA, DON'T GIVE THIS MANIAC CONTROL. - XOXO, THE WORLD */ 

@import url(https://fonts.googleapis.com/css?family=Oswald:700,400);
$heading: 'Oswald', helvetica, sans-serif;

$red:#f50000;
$blue:#233678;
$dark-grey:#212121;

body {
    background:url(../img/thedonaldz.jpg) no-repeat top left $blue;
    background-size:cover;
    -webkit-font-smoothing: antialiased;
    color:$dark-grey;
}

a {
    text-decoration:none;
    opacity:1;
    cursor:pointer;
    &:hover {
        opacity:0.5;
    }
}

p {
    margin-bottom:40px;
    line-height:22px;
}

.intro {
    width:90%;
    margin:10% auto 0;
    #donnie-mug {
        width:40%;
        margin:0 auto;
        img {
            width:100%;
        }
    }
    h1, p {
    	text-align:center;
        color:#fff;
    }
    h1 {
        font-size:55px;
    	margin:0;
    	font-family:$heading;
    	text-transform:uppercase;
        line-height:60px;
    }
    p {
    	font-size:20px;
        line-height:25px;
    }
}

.block-body {
    width:90%;
    margin:0 auto 10%;
    background:rgba(256, 256, 256 ,0.8);
    padding:5% 0 0;
    border-radius:3px;
    overflow:auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border:1px solid white;
}

form {
    display:block;
   /* overflow:auto;*/
    padding:0 5%;
    .input-wrap {
        width:100%;
        /*float:left;*/
        display:block;
        margin-bottom:25px;
        /*padding-right:4%;*/
        &#text-type {
            /*width:36%;*/
        }
        input, select {
            width:100%;
            border-radius:3px;
            border:1px solid #969696;
            font-size:14px;
            padding:3% 0 3% 3%;
        }
        input {
            width:97%;
        }
        select {
            padding:10px;
            -webkit-appearance:none !important;
            -moz-appearance: none !important;
            background:url(../img/arrow-down.svg) no-repeat 98% 50% white;
            cursor:pointer;
        }
    }
    label {
        color:#000;
        display:block;
        margin-bottom:5px;
        font-weight:bold;
        font-size:14px;
    }
    #btn-submit, #reset-btn {
        background:$red;
        border-radius:3px;
        padding:10px 15px;
        border:1px solid #d60000;
        font-weight:bold;
        color:#fff;
        width:100%;
    }
    /*#reset-btn {
        background:$blue;
    }*/
    .failed p.errorMessage {
        display:block;
        color:$red;
        font-style:italic;
        font-weight:bold;
        font-size:14px;
    }
    .passed p.errorMessage, .required p.errorMessage {
        display:none;
    }
}

#results {
    background:#fff;
    padding:25px;
    display:block;
    p:first-child:first-letter { 
        float: left; 
        color:$dark-grey; 
        font-size: 80px; 
        line-height: 60px; 
        padding-top: 4px; 
        padding-right: 8px; 
        padding-left: 3px; 
        font-weight:bold;
    }
    &.hide {
        display:none;
    }
}

footer {
    p {
        text-align:center;
        color:white;
    }
    a {
        color:#90CAF9;
    }
}

.hide {
    display:none;
}

@media (screen and min-width: 700px) {
    .intro {
        margin:30px auto 0;
        #donnie-mug {
            width:200px;
            padding-bottom:25px;
        }
        h1 {
            font-size:85px;
            margin-bottom:50px;
        }
    }
    .block-body {
        width:550px;
        padding:25px 0 0;
        margin:0 auto 55px;
    }

    form {
       .input-wrap {
            input, select {
                padding:10px;
            }
       } 
    }

}

